<?xml version="1.0"?>
<model>
    <name>export_ready_assembly_v1</name>
    <version>1.0</version>
    <sdf version="1.11">model.sdf</sdf>
    <author>
        <name>Abhinav</name>
        <email>as2728@srmist.edu.in</email>
    </author>
    <description>A custom vehicle model.</description>
</model>